/* Sidebar.css */

.sidebar {
    background-color: #3d686d;
    color: #fff;
    height: 100vh;
    width:240px;
    /* overflow-y: auto; */
  }
  
  .sidebar h3 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  